html {
  border: none;
}

body {
  display: grid;
  margin: 0;
  height: 100vh;
}

.app {
  display: flex;
  justify-self: center;
  text-align: center;
  align-self: center;
  width: 1200px;
  height: 600px;
  border: 1px solid rgb(112, 107, 107);
  overflow-x: hidden;
  overflow-y: hidden;
  /* display: inline; */
}

.character-body {
  width: 38px;
  height: 98px;
  align-self: flex-start;
  margin-left: 15px;
}

.character {
  display: grid;
  width: 68px; 
  height: 105px;
  background-position: 10px 120px;
  background: url('img/running.png');
  animation: walk 1s steps(8) infinite;
  top: 503px;
  position: relative;
}

@keyframes walk { 
	0% { background-position: -50px; }
  100% { background-position: -1152.4px; }
  /*
    Ancho del personaje:      133.8px;
    Distancia entre sprites:  2px adelante y 2px atrás = 4px;
    Cantidad de sprites:      8

    Entonces...
    background-position:(AnchoPersonaje + DistanciaSprites) * CantSprites = 1102.4px
  */
} 

.js-jump{
  background: url('img/jumping.png');
  animation: jump .6s steps(12);
}

@keyframes jump{
  0%{top: 503px;background-position: -50px;}
  20% { }
  30%{top: 440px;}
  70%{top: 440px;}
  95%{top: 503px;}
  100%{background-position: -1704px;} /* jumping.png width + (cant sprites * dist sprites) = 1704*/
}

.block{
  background-color: blue;
  width: 20px;
  height: 20px;
  position: relative;
  top: 580px; /* altura .app - altura .block */
  left: 800px;
  animation: move-block 2s infinite linear;
}

@keyframes move-block{
  0%{left: 1200px}
  100%{left: -80px}
}

