canvas {
  border: 1px solid black;
  border-radius: 10px;
  justify-self: center;
  align-self: center;
  margin-bottom: 20px;
}

body {
  display: grid;
  margin: 0;
  height: 100vh;
  /* background-color: #0B8CBF !important; */
  font-family: 'Gluten', cursive !important;
  color: #243340;
}

.titulo{
  margin-top: 10px;
}

.js-display-none {
  display: none;
}



.btnStart{
  width: 120px;
  height: 40px;
  margin-top: 10px;
  margin-bottom: 20px;
  /* color: #F2CB05 !important; */
  font-weight: bold !important;
}

.inputsNombres{
  display: flex;
  flex-direction: row;
  width: 550px;
  justify-content: space-evenly;
  align-items: center;
}

.inicioJuego{
  color: #243340;
  margin: auto;
  justify-content: space-between;
  width: 800px;
  height: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color:#F2D027;
  border-radius: 10px;
  margin-top: 5px;
  margin-bottom: 10px;
  border-width: 10px;
  border-style: solid;
  border-color: #F2A516;
}/* F2A516 */

.btnOkName{
  margin-left:5px;
  margin-right:5px;
  width: 60px;
}

input{
  height: 40px;
  width: 200px;
  border-radius: 7px;
}

.setNombre{
  height: 50px;
  display: flex;
  align-items: center;
}
.alert{
  width: auto;
  height: 60px;
  margin-top: 20px;
}
.alertText{
  margin: auto;
  padding-bottom: 10px;
}

.mensaje{
  margin: auto; 
  margin-bottom: 5px;
  margin-top: 5px;
}

.canvas{
  background-color:#243340 !important
  
}

.botones{
  display: flex;
  flex-direction: row;
  width: 400px;
  height: 50px;
  justify-content: space-between;
  margin: auto;
}

.botonesAndSelect {
  display: flex;
  flex-direction: row;
  width: 500px;
  height: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  justify-content: space-evenly;
}

.displayNone{
  display: none;
}

.color-picker{
  width: 30px;
  height: 30px;
}

.pickerColor{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 170px;
}
.dimensiones{
  width: 120px !important;
}
.tituloColor{
  padding-top: 5px;
}