/* FONT */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&family=Press+Start+2P&display=swap');

* {
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  font-size: 1.2vw;
  --main-color: #f5e9ff;
  --second-color: #405E70;
  --post-color: #dce6ec;
}

html, body {
  margin: 0;
  height: 100%;
}

::placeholder {
  opacity: 0.3;
}

/* HEADER */

header {
  background-color: var(--second-color);
  height: 6vh;
  padding-top: .2%;
  padding-bottom: .2%;
  /* width: 100vw; */
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

header, .buscador {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.logoApp, .buscador {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}

.logoApp {
  align-self: center;
  margin-left: 2%;
  width: 2%;
}

.buscador {
  width: 22%;
  justify-self: center;
}

.buscador input, .lupa {
  grid-row-start: 1;
  grid-column-start: 1;
  grid-column-end: 2;
}

.buscador input {
  height: 50%;
  align-self: center;
  padding-left: 12%;
  border: none;
  outline: none;
  border-radius: 10px;
  padding-top: 2%;
  padding-bottom: 2%;
}

.lupa {
  z-index: 1;
  align-self: center;
  width: 5%;
  margin-left: 4%;
}

/* MURO y main*/

main {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 3fr 1fr;
}

.muro {
  display: grid;
  background-color: var(--main-color)
}

/* POST CREATOR */
.post-creator {
  display: grid;
  margin-top: 3vw;
  padding: 1.4vw;
  padding-top: 2vw;
  padding-right: 3vw;
  outline: none;
  grid-template-rows: max-content 1fr;
  grid-template-columns: 1fr 6fr;
  justify-self: center;
  background-color: #dae5ec;
  height: fit-content;
  width: 50%;
  border-radius: 10px;
}

.post-creator-message, .upload-file-icon {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 2;
  grid-column-end: 3;
}

.upload-file-icon {
  cursor: pointer;
  margin-right: 1vw;
  width: 1.6vw;
  justify-self: right;
  align-self: center;
}

.upload-file-icon {
  transition: transform .2s;
}

.upload-file-icon:hover {
  transform: scale(1.2);
}

.post-creator-message {
  outline: none;
  margin: 0;
  margin-left: 1vw;
  border-radius: 10px;
  border: 0;
  padding: 0;
  padding-left: 1vw;
  padding-right: 4vw;
  cursor: text;
  background-color: white;
  width: 22vw;
  padding-top: .5vw;
  padding-bottom: .5vw;
}

.post-creator-message:empty:not(:focus)::before {
  content: attr(data-placeholder);
}

.post-creator-user-icon {
  width: 3vw;
}

.post-button {
  background-color: var(--main-color);
  cursor: pointer;
  border: none;
  border-radius: 10px;
  margin-top: 1.3vw;
  height: 3vw;
  width: 6vw;
  justify-self: right;
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 3;
}

/* POST */

.post {
  display: grid;
  grid-template-rows: 1fr max-content min-content;
  margin-top: 3vw;
  padding: 2vw;
  padding-right: 2.4vw;
  padding-bottom: 1.2vw;
  outline: none;
  justify-self: center;
  background-color: var(--post-color);
  height: fit-content;
  width: 50%;
  border-radius: 10px;
}

.post-user-and-date {
  display: grid;
  grid-template-columns: min-content 1fr;
}

.username-post, .post-date {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  margin: 0;
  margin-left: 1.3vw;
  height: fit-content;
}

.username-post {
  font-size: 1.1rem;
  font-weight: 600;
  margin-bottom: 1.3vw;
}

.post-date {
  font-size: .65rem;
  align-self: flex-end;
}

.post-message {
  margin-top: 2.1vw;
  margin-bottom: 2.1vw;
}

.icon-like-post, .icon-comment-post, .icon-share-post {
  transition: transform .2s;
  cursor: pointer;
}

.icon-like-post {
  width: 1.8vw;
  margin-right: 1.4vw;
}

.icon-comment-post{
  width: 1.7vw;
  margin-right: 1.2vw;
}

.icon-share-post {
  width: 1.7vw;
  margin-bottom: .07vw;
}

.icon-like-post:hover, .icon-comment-post:hover, .icon-share-post:hover {
  transform: scale(1.3);
}

/* NAVBAR */

.navbar ::selection {
  background: transparent;
}

.navbar {
  display: grid;
  background-color: var(--main-color);
  margin-right: 4%;
  
}

.navbar-content {
  margin-top: 10%;
  width: 19.1%;
  position: fixed;
  top: 0;
}

.inicio {
  margin-bottom: 5%;
}

.perfil {
  margin-top: 5%;
}

.inicio, .chat, .perfil {
  display: flex;
  padding-left: 16%;
  height: 3em;
  cursor: pointer;
}

.inicio:hover, .chat:hover, .perfil:hover {
  background-color: #e3c0ff;
}

.iconInicio, .iconProfile {
  width: 14%;
}

.iconChat {
  width: 12%;
  margin-left: 1%;
  margin-top: 3%;
}

.inicio p, .chat p, .perfil p {
  align-self: center;
  margin: 0;
  width: fit-content;
  height: fit-content;
  font-size: 1.5vw;
}

.inicio p, .perfil p {
  margin-left: 9%;
}

.chat p {
  margin-left: 10%;
}

/* ADS */

.ads {
  background-color: var(--main-color);
  margin-left: 4%;
}

.ads-content {
  position: sticky;
  top: 0;
}

.wea {
  background-color: brown;
  width: 50px;
  height: 50px;
  margin-top: 10000px;
}

.publicity {
  display: grid;
  margin-top: 3vw;
  margin-left: 1vw;
  outline: none;
  grid-template-rows: max-content 1fr;
  grid-template-columns: 1fr 6fr;
  justify-self: center;
  background-color: #dae5ec;
  height: fit-content;
  border-radius: 10px;
  margin-right: 2vw;
}

.publicityDos {
  display: grid;
  margin-top: 1vw;
  margin-left: 1vw;
  outline: none;
  grid-template-rows: max-content 1fr;
  grid-template-columns: 1fr 6fr;
  justify-self: center;
  background-color: #dae5ec;
  height: fit-content;
  border-radius: 10px;
  margin-right: 2vw;
}

.publicity-image {
  width: 20vw;
}